/.bundle/
/target/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/tmp/
mkmf.log
**/*.swp
**/*.gem
.idea
/rubyspec_temp/
*.dll
*.dylib
*.so
.ruby-version
/tags
spec/ruby_spec/*
